<h1>Dice Roll</h1>
  <form action="/process_roll" method="GET">
    <label for="dice">Number of dice to roll?</label>
    <input type="text" name="dice" id="dice" min="1" required>
    
    <label for="dice_sides">How many sides per die?</label>
    <input type="text" name="sides" id="sides" min="2" required>

    <button type="submit">Roll!</button>
  </form>
